body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url("https://media.discordapp.net/attachments/1248193589654327341/1314878105906577478/e125922419423766df824ec039b580f4-ezgif.com-video-to-gif-converter.gif?ex=67555f29&is=67540da9&hm=a9c2625a2b7856009ecb8b4445fded7b71e8b37f8fdfa27edd76053f6735b0f4&=&width=602&height=1071");
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Sour Gummy", sans-serif;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    z-index: 9999;
    padding: 10px;
    box-shadow: 0 0 8px 10px rgba(255, 255, 255, 0.3);
}

.bouncing-text {
    position: absolute;
    font-size: 4vw;
    /* font-weight: bold; */
    color: #000;
    pointer-events: none;
    white-space: nowrap;
    text-align: center;
}

#qoute {
    text-align: center;
    transition: ease-in-out;
    transition-duration: 100ms;
    transition-delay: 10ms;
    font-size: 3vh;
    margin-left: 20px;
    margin-right: 20px;
}

#time {
    margin: 0;
    font-size: 10vw;
}

#greet {
    margin: 0;
    font-size: 4vw;
}

button {
    border: none;
    font-family: "Sour Gummy", sans-serif;
    background-color: transparent;
    margin: 5px;
    text-decoration: underline;
}